{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Pemetaan Peta Okupasi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    {% include "snippets/style.html" %}
    <style type="text/css">
      body{
         background: radial-gradient(red, white, blue); /* Standard syntax */
         background: -webkit-radial-gradient(red, white, blue); /* Safari 5.1 to 6.0 */
         background: -o-radial-gradient(red, white, blue); /* For Opera 11.6 to 12.0 */
         background: -moz-radial-gradient(red, white, blue);
      }
    </style>
</head>
<body>
  
   
  
  <div class="card container" style="max-height: 100%;">
     {% include "snippets/navbar.html" %}
     <div class="parallax"> <h1 >Pemetaan Peta Okupasi</h1></div>
     <hr><hr>
    <p style="font-size: 150%; ">
      Selamat datang di Aplikasi Pemetaan Peta Okupasi. <br>
      Pemetaan Peta Okupasi adalah Aplikasi untuk kebutuhan Program Studi Mahasiswa jurusan Teknik Informatika, yang mana Mahasiswa dapat mengetahui matakuliah dan kursus lepkom apa saja yang harus dipelajari lebih dalam sesuai profesi yang dipilih. 
    </p>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

  </div>
  <!-- <div class="parallax"></div> -->
 
</body>
</html>